body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 30;
    grid-template-rows: 30;
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color:#f0f0f0;
}
#A{
    background-color: #222020;
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#A a{
    color: white;
    position: relative;
    margin-left: 40px;
    margin-right: 40px;
}
img{
    height: 100px;
    width: 100px;
    display: inline;
}
h1{
    text-align: center;
    color: #0fa40f;
    font-size: 50px;
}
#B{
    margin-top: 100px;
    height: 200px;
    text-align: center;
}
#B a{
    background-color: #0fa40f;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 10px;
    display: inline-block;
    height: 45px;
    width: 125px;
    margin: 30px;
    font-size: 20px;
}
#B a:hover{
    background-color: #0e8f0e;
}

@media screen and (max-width: 1000px){
    h1{
        font-size: 100px;
    }
    #A{
        height: 150px;
        font-size: 30px;
    }
    #B{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    #B a{
        font-size: 100px;
        width: 700px;
        height: 300px;
    }
    
}
